.marksheet
  .ui.segment
    %h4.ui.horizontal.header.divider
      %i.book.icon
      Academic Details

  = form_tag marks_step_path, remote: true, class: "ui fluid form" do |f|
    #error_messages
    .ui.black.secondary.segment
      %h4{class:"ui header"} 10th STD Details
      .ui.stackable.four.column.grid
        .column
          = label_tag "Year of study"
          .ui.input
            %input{:placeholder => "year of study...", :type => "text", name:"student[tenth_yos]", value: @student.tenth_yos}  
        .column
          = label_tag  :year_of_passing
          .ui.input
            %input{:placeholder => "Year of passing...", :type => "text", name:"student[tenth_yop]", value: @student.tenth_yop}
        .column
          = label_tag  "Register Number"
          .ui.input
            %input{:placeholder => "Register no...", :type => "text", name:"student[tenth_regno]", value: @student.tenth_regno}    
        .column
          = label_tag "Institution attended"
          .ui.input
            %input{:placeholder => "Enter your school...", :type => "text", name:"student[tenth_institution]", value: @student.tenth_institution}
    .ui.black.secondary.segment
      %h4{class:"ui header"} +2 Details
      .ui.stackable.three.column.grid
        .row
          .column
            = label_tag "Year of study"
            .ui.fluid.icon.input
              %input{:placeholder => "year of study...", :type => "text", name:"student[twelfth_yos]", value: @student.twelfth_yos}  
          .column
            = label_tag  :year_of_passing
            .ui.fluid.icon.input
              %input{:placeholder => "Year of passing...", :type => "text", name:"student[twelfth_yop]", value: @student.twelfth_yop}  
          .column
            = label_tag  "Register Number"
            .ui.fluid.icon.input
              %input{:placeholder => "Register no...", :type => "text", name:"student[twelfth_regno]", value: @student.twelfth_regno}
        .row
          .column
            = label_tag "Institution attended"
            .ui.fluid.icon.input
              %input{:placeholder => "Enter your school...", :type => "text", name:"student[twelfth_institution]", value: @student.twelfth_institution}      
          .column
            = label_tag "TC Number"
            .ui.fluid.icon.input
              %input{:placeholder => "tc number...", :type => "text", name:"student[twelfth_tc_no]", value: @student.twelfth_tc_no}  
          .column
            = label_tag "TC. Date specified"
            .ui.input
              %input{:placeholder => "tc date...", :type => "text", name:"student[twelfth_tc_date]", value: @student.twelfth_tc_date}

    .ui.stackable.two.column.grid
      .column
        = label_tag :education_board
        = select_tag "student[board_id]", options_from_collection_for_select(Board.where(disabled: false).order(:name), "id", "name"), {include_blank: 'Subject', class: "ui dropdown modified_dropdown" }
      .column
        = label_tag  :stream_of_study
        - @streams = []
        = select_tag "student[stream_id]", options_for_select(@streams.collect { |stream| [stream.name.titleize, stream.id] }, 0), {include_blank: 'Stream',  id: 'streams_select', class: "ui dropdown modified_dropdown" }
    .ui.center.aligned.segment    
      .ui.inverted.red.button#markmore Instructions     
    #marksheet.field
      = render 'marksheet'

    - if @current_step > 5
      %br   
      .row
      .field
        = submit_tag 'Save & Proceed', class: "ui submit button"
  = render 'layouts/markmore'