%p#notice= notice

%p
  %b Name:
  = @state.name
%p
  %b Code:
  = @state.code

= link_to 'Edit', edit_country_state_path(@state.country, @state)
\|
= link_to 'Back', country_states_path(@state.country)
